<div class="form-group">
   <label for="url">URL</label>
   <input type="text" class="form-control" id="url" placeholder="ex. google.com">
 </div>
 <div class="form-group">
   <label for="title">Title</label>
   <input type="text" class="form-control" id="title" placeholder="title">
 </div>
 <div class="form-group">
   <label for="Tags">Tag</label>
   <input type="text" id="tags" placeholder="ex. science, politics, art, etc ...">
 </div>

 <button type="submit" class="btn btn-default">Submit</button>
